<main class="mis-tickets-container">
  <div class="tabla-tickets">

    <div class="header-wrapper">
      <table>
        <thead>
          <tr>
            <th>
              <div class="th-flex">
                Ticket ID
              </div>
            </th>
            <th>
              <div class="th-flex">
                Nombre
              </div>
            </th>
            <th>
              <div class="th-flex">
                Estado
              </div>
            </th>
            <th>
              <div>Ver</div>
            </th>
          </tr>
        </thead>
      </table>
    </div>

    <div class="body-wrapper">
      <table>
        <tbody id="tabla-tickets-body">
        </tbody>
      </table>
    </div>

  </div>
</main>