/* CONTENEDOR PRINCIPAL */
.detalle-ticket-container {
  width: calc(100vw - 48px);
  max-height: calc(100vh - 100px);
  margin: 24px auto;
  padding: 0 2rem;
  font-family: 'Inter', sans-serif;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
  max-width: 1200px;
}

/* COLUMNA IZQUIERDA: BARRA DE PROGRESO */
.progreso-ticket {
  width: 100%;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.10);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* PASOS DEL PROGRESSBAR */
.paso {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-bottom: 1.5rem;
  opacity: 0.4;
  transition: all 0.3s ease;
  text-align: left;
}

.paso-activo {
  opacity: 1;
}

.paso .icono {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #eee;
  padding: 10px;
  box-sizing: border-box;
  color: #090B0A;
  display: flex;
  align-items: center;
  justify-content: center;
}


.paso-activo .icono {
  background-color: #2e7d32;
  color: white;
  fill: white;
}

/* LÍNEA ENTRE PASOS */
.linea-vertical {
  width: 4px;
  height: 40px;
  background-color: #ddd;
  margin-left: 22px;
}

/* COLUMNA DERECHA: DETALLES */

.detalle-ticket-columna-derecha {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.detalle-ticket-info {
  margin-top: 2rem;
  padding: 1rem;
  color: #090B0A;
  background-color: white;
  border: none;
  resize: none;
  border-radius: 20px;
  font-family: 'Inter', sans-serif;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.10);
}

.detalle-ticket-info h2 {
  margin-top: 0;
  color: #2f3e46;
}

.detalle-ticket-info p {
  margin: 0.5rem 0;
  color: #333;
}

/* ESTILO PARA INFORMACIÓN DESTACADA */
.info-destacada {
  font-weight: 500;
  color: #1e293b;
  margin-bottom: 1rem;
}


/* PANEL DE ACCIONES */

.panel-dinamico {
  margin-top: 2rem;
  padding: 1rem;
  color: #090B0A;
  background-color: white;
  border: none;
  resize: none;
  border-radius: 20px;
  font-family: 'Inter', sans-serif;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.10);
}

.panel-dinamico p {
  margin-bottom: 0;
  color: #374151;
}
