.login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F4F3EE;
  }

  /* FORMULARIO LOG-IN */

  .login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    width: 320px;
    padding:2.5rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  }

  .login-form img {
    height: 80px; 
  }
  
  
  .login-form h1 {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    color: #090B0A;
  }
  
  .text-input {
    display: flex;
    flex-direction: column;
  }
  
  .text-input label {
    display: flex;   
    font-family: 'Inter', sans-serif;
    align-items: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: 0.25rem;
    color: #55625D;
  }

  .text-input label svg {
    vertical-align: middle;
    margin-right: 6px;
  }

  .text-input input {
    height: 40px;
    padding: 0 0.75rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    color: #333;
    background-color: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  }
  
  .login-links {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 0.7rem; 
    line-height: 1.4;
    color: #55625D;
    text-align: center;
    margin-top: 1rem;
  }
  
  .login-links a {
    color: #55625D;
    text-decoration: none;
  }
  
  .login-links a:hover {
    text-decoration: underline;
    color: #508991;
  }

  /* ICONOS DENTRO DE LOS INPUTS*/

.input-with-icon {
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  padding-left: 0.5rem;
  width: 100%;
}

.input-with-icon svg {
  margin-right: 0.5rem;
  flex-shrink: 0;
}

.input-with-icon input {
  border: none;
  outline: none;
  flex-grow: 1;
  height: 40px;
  font-size: 1rem;
  padding: 0 0.5rem;
  font-family: 'Inter', sans-serif;
}
