.mis-tickets-container {
    width: calc(100vw - 48px);
    margin: 24px auto 24px auto;
    padding: 0;
    background-color:transparent;
    border-radius: 20px;
    box-shadow: none;
    font-family: 'Inter', sans-serif;
  }
  
  .tabla-tickets {
    border-radius: 8px;
    overflow: hidden;
    background-color:transparent;
    }

  .tabla-tickets table {
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0 16px;
  }

  .tabla-tickets thead {
    margin-bottom: 12px;
    display: table-header-group;
  }

  .tabla-tickets thead tr {
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.10);
    border-radius: 20px;
  }

  .tabla-tickets tr {
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    border: none;
    resize: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.10);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }

  .tabla-tickets tr:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  }

  .tabla-tickets th {
    background-color: transparent;
    font-weight: 500;
    font-size: 1rem;
    color: #090B0A;
    padding: 0.75rem 1rem;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    border-bottom: none;
    border-radius: 20px;
  }

  
  .tabla-tickets td {
    background-color: transparent;
    font-weight: 400;
    font-size: 1rem;
    color: #090B0A;
    padding: 0.75rem 1rem;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    border-bottom: none;
    border-radius: none;
  }

  .th-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }

  .tabla-tickets th:nth-child(2) .th-flex {
    justify-content: flex-start;
  }


/* COLUMNAS PERSONALIZADAS */

.tabla-tickets th:nth-child(1),
.tabla-tickets td:nth-child(1) {
  width: 15%;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tabla-tickets th:nth-child(2),
.tabla-tickets td:nth-child(2) {
  width: 55%;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tabla-tickets th:nth-child(3),
.tabla-tickets td:nth-child(3) {
  width: 20%;
}

.tabla-tickets th:nth-child(4),
.tabla-tickets td:nth-child(4) {
  width: 10%;
}


/* ICONO DE VER */
.ver-icono {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.ver-icono svg {
  width: 22px;
  height: 22px;
  transition: transform 0.2s ease;
}

.ver-icono svg:hover {
  transform: scale(1.15);
}


/* ESTADOS */

.estado-badge {
  display: inline-block;
  padding: 0.3rem 1rem;
  border-radius: 999px;
  font-weight: 600;
  font-size: 0.8rem;
  color: white;
  text-align: center;
  border: none;
  resize: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.10);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  min-width: 100px;
}

.estado-badge.creado {
  background-color: #F49F0A;
}

.estado-badge.en-progreso {
  background-color: #F49F0A;
}

.estado-badge.en-camino {
  background-color: #F49F0A;
}

.estado-badge.entregado {
  background-color: #3E8914;
}

.estado-badge.revisar {
  background-color: #F49F0A;
}

.estado-badge.cancelado {
  background-color: #A22C29;
}

