
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F4F3EE;
  }

/* TEXTOS */

h1, h2, h3 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 2rem; 
    line-height: 1.2;
    color: #55625D;
}

p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.6;
    color: #55625D;
}

small {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 0.875rem; 
    line-height: 1.4;
    color: #55625D;
}

/* BOTON */

.btn {
    background-color: #55625D;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;  
  }
  

  .btn:hover {
    background-color: #44504B; 
  }
  
  .btn:active {
    background-color: #333E3A; 
    transform: scale(0.98);    
  }
  
  .btn:disabled {
    background-color: #A9B0AD;
    color: #666666;            
    cursor: not-allowed;       
    opacity: 0.7;              
  }

  /* FOTO DE PERIL USUARIO*/

  .profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  }

  /* NAVBAR */
  
  .navbar-container {
    width: calc(100vw - 48px);
    height: 64px;
    margin: 24px auto 0 auto;
    padding: 0 1rem;         
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F4F3EE;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
  }
  
  .navbar-logo img {
    height: 50px; 
  }

  .navbar-user {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .navbar-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
  }
  
  .navbar-links a {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.6;
    text-decoration: none;
    color: #55625D;
    transition: color 0.3s ease;
  }
  
  .navbar-links a:hover {
    color: #508991;
  }