<div id="loader" class="glass-loader">
    <div id="loader-animation" style="width: 150px; height: 150px; margin: auto;"></div>
    <!-- FALLBACK SPINNER EN CASO DE QUE LOTTI NO ESTÉ DISPONIBLE -->
    <div id="fallback-spinner" class="spinner" style="display: none;">
        <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="40" cy="40" r="36" stroke="#508991" stroke-width="4" stroke-linecap="round" stroke-dasharray="113.097" stroke-dashoffset="113.097">
                <animate attributeName="stroke-dashoffset" dur="1s" values="113.097;0;113.097" repeatCount="indefinite"/>
            </circle>
        </svg>
    </div>
</div>
  