<nav class="navbar" data-variant="proclier">
    <div class="navbar-container">
  
      <!-- LOGO -->
      <div class="navbar-logo">
        <img src="../assets/img/newlogo.png" alt="Logo de ProCly" />
      </div>
  
      <!-- LINKS PROCLIER -->
      <ul class="navbar-links">
        <li><a href="/crear_empresa.html">Crear Empresa</a></li>
        <li><a href="/admin_usuarios_proclier.html">Administrar Usuarios</a></li>
        <li><a href="/gestionar_tickets.html">Gestionar Tickets</a></li>
      </ul>
  
     <!-- BOTÓN DE LOGOUT -->
     <div class="navbar-user">
        <img
          id="logout-direct"
          src="../assets/icons/sign-out.svg"
          alt="Cerrar sesión"
          class="logout-icon"
          style="cursor: pointer;"
        />
      </div>
    </div>
  </nav>  