<nav class="navbar" data-variant="">
  <div class="navbar-container">
    
     <!-- LOGO DE PROCLY -->
    <div class="navbar-logo">
      <img src="../assets/img/Logo 1.png" alt="Logo de la empresa" />
    </div>
  
     <!-- LINKS DE NAVEGACION -->
    <ul class="navbar-links">
      <li><a href="/nuevo_ticket.html">Nuevo Ticket</a></li>
      <li><a href="/mis_tickets.html">Mis Tickets</a></li>
      <li><a href="/soporte.html">Soporte</a></li>
    </ul>

     <!-- FOTO DE PERFIL & DROPDOWN-MENU -->
    <div class="navbar-user">
     
      <img id="menu-toggle" src="../assets/icons/three-dots-vertical.svg" alt="Icono tres puntos" />
      <img src="../assets/img/foto perfil.webp" alt="Foto perfil" class="profile-pic"/>
      
      <div class="dropdown-menu" id="dropdown-menu">
        <ul>
          <li><a href="mi_perfil.html">Mi Perfil</a></li>
          <li><a href="#">Soporte</a></li>
          <li><a href="#" id="logout-btn">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>