<nav class="navbar" data-variant="">
  <div class="navbar-container">
    
     <!-- LOGO DE PROCLY -->
     <div class="navbar-logo">
      <a href="/user/menu_user.html">
        <img src="../assets/img/newlogo.png" alt="Logo de la empresa" />
      </a>
    </div>

     <!-- BOTÓN DE LOGOUT -->
    <div class="navbar-user">
      <img
        id="logout-direct"
        src="../assets/icons/sign-out.svg"
        alt="Cerrar sesión"
        class="logout-icon"
        style="cursor: pointer;"
      />
    </div>
  </div>
</nav>