<nav class="navbar" data-variant="">
  <div class="navbar-container">
    <div class="navbar-logo">
      <img src="../assets/img/Logo 1.png" alt="Logo de la empresa" />
    </div>
  
    <ul class="navbar-links">
      <li><a href="../public/nuevo_ticket.html">Nuevo Ticket</a></li>
      <li><a href="../public/mis_tickets.html">Mis Tickets</a></li>
      <li><a href="../public/soporte.html">Soporte</a></li>
    </ul>

    <div class="navbar-user">
      <img src="../assets/icons/three-dots-vertical.svg" alt="Icono tres puntos" />
      <img src="../assets/img/foto perfil.webp" alt="Foto perfil" class="profile-pic"/>
    </div>

  </div>
</nav>