<div id="pop-up-direccion" class="glass-loader" style="display: none;" aria-modal="true" role="dialog">
  <div class="pop-up-contenido">
    <div class="pop-up-titulos">
      <h2>Agregar Dirección</h2>
      <p class="pop-up-subtitulo">Completa los datos para agregar una nueva dirección.</p>
    </div>
    <form id="form-pop-up-direccion">
      <input type="text" name="nombre" placeholder="Nombre" required />
      <input type="text" name="direccion" placeholder="Dirección" required />
      <input type="text" name="ciudad" placeholder="Ciudad" />
      <input type="text" name="provincia" placeholder="Provincia" />
      <input type="text" name="codigo_postal" placeholder="Código Postal" />
      <input type="text" name="pais" placeholder="País" />
      <div class="pop-up-btns-row">
        <button type="button" class="btn-gris">Cancelar</button>
        <button type="submit" class="btn-verde">Guardar</button>
      </div>
    </form>
  </div>
</div>
  