<div id="pop-up-limite" class="glass-loader" style="display: none;" aria-modal="true" role="dialog">
  <div class="pop-up-contenido">
    <h2>Editar Límite de Usuario</h2>
    <form id="form-pop-up-limite">
      <input type="number" name="limite" id="input-limite" placeholder="Nuevo límite anual ($)" min="0" required />
      <div class="pop-up-btns-row">
        <button type="submit" class="btn2">Guardar</button>
        <button type="button" class="btn-cancelar">Cancelar</button>
      </div>
    </form>
  </div>
</div>
