<div id="pop-up-limite" class="glass-loader" style="display: none;" aria-modal="true" role="dialog">
  <div class="pop-up-contenido">
    <h2>Editar Límite de Usuario</h2>
    <form id="form-pop-up-limite">
      <div class="input-wrapper">
        <input type="text" id="input-limite" name="limite" class="input-limite" placeholder="Límite Anual" required>
        <span class="input-unidad">ARS</span>
      </div>
      <div class="pop-up-btns-row">
        <button type="button" class="btn-gris">Cancelar</button>
        <button type="submit" class="btn-verde">Guardar</button>
      </div>
    </form>
  </div>
</div>
