<main class="manual-container">
  <div class="demo-container">
    <div
      id="howdygo-embed"
      style="width: 100%;
        max-width: 1470px;
        background-color: #ffffff;
        border: 1px solid #e2e8f0;
        border-radius: 12px;
        overflow: hidden;
        box-shadow:
          0px 0px 1px rgba(45, 55, 72, 0.05),
          0px 4px 8px rgba(45, 55, 72, 0.1);"
    >
      <script src="https://js.howdygo.com/v1.2.1/index.js" ></script>
      <div
        id="howdygo-wrapper"
        style="position: relative;
        width: 100%;
        height: 0;
        padding-bottom: calc(56.53061224489796% + 40px);"
      >
        <iframe
          id="howdygo-frame"
          src="https://app.howdygo.com/prescreen-embed/c60fc158-e294-4b9f-88ae-d112f0394011?mobileStrategy=inline&launchButton=Manual+de+Usuario"
          frameborder="0"
          scrolling="no"
          allow="autoplay"
          webkitallowfullscreen
          mozallowfullscreen
          allowfullscreen
          style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
        ></iframe>
      </div>
    </div>
  </div>
</main>